@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main{
  flex: 1;
}

footer{
  flex-grow: 0;
}

.custom-container{
  width: 90%;
  margin: 0 auto;
}